<div class='game-container'>
	<table id='gameboard'>
		<% (0..7).each do |row| %>
			<tr class='y-position-<%= row %>'>
				<% (0..7).each do |column| %>
					<td class='x-position-<%= column %>' data-x-position='<%= row %>' data-y-position='<%= column %>' >

						<%# TODO: Display gameboard from black_user_id perspective %>
						<% query_result = @game.pieces.where(current_position_x:column, current_position_y: row).last %>
						<% if query_result != nil %>
							<%= link_to piece_path(query_result) do %>
								<%= image_tag query_result.symbol %>
							<% end %>
						<% end %>

					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>
