<div class='game-container'>
  <table id='gameboard'>
    <% (0..7).each do |row| %>
      <tr class='y-position-<%= row %>'>
        <% (0..7).each do |column| %>
        <%# TODO: Display gameboard from black_user_id perspective %>
          <% if @piece.current_position_x == column && @piece.current_position_y == row %>
            <td class='x-position-<%= column %> highlight' data-x-position='<%= row %>' data-y-position='<%= column %>' >            
              <% query_result = @game.pieces.where(current_position_x:column, current_position_y: row).last %>
              <% if query_result != nil %>
                <%= image_tag query_result.symbol %>
              <% end %>
            </td>
          <% else %>
              <td class='x-position-<%= column %>' data-x-position='<%= row %>' data-y-position='<%= column %>' >  
                <% query_result = @game.pieces.where(current_position_x:column, current_position_y: row).last %>
                <% if query_result != nil %>          
                  <%= image_tag query_result.symbol %>
                <% end %>                      
              </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>